root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[*.java]
# 调整 IDEA 默认 import 分组以适配 Checkstyle 规则
ij_java_imports_layout = $*, |, *
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*.{xml,yml,yaml}]
indent_size = 2
tab_width = 2